<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{css/admincat.css}">

	<link rel="stylesheet" th:href="@{css/footer.css}">

	<!-- Boxicons CDN Link -->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" th:href="@{css/paneladmin.css}">


	<title>Administración de categorias</title>
</head>

<body>
	<header>
		<div class="header-container">
			<div class="header-line-up">


			</div>
			<hr>
			<div class="header-body">
				<div class="header-banner-navbar">
					<div class="header-banner-navbar-left">
						<img src="img/icons/logo.png">
						<a th:href="@{/}">
							<p>Inicio</p>
						</a>

					</div>
					<div class="header-banner-navbar-right">
						<img src="img/icons/ico_user.svg">
						<p>ADMINISTRADOR</p>
					</div>
				</div>
			</div>
		</div>
	</header>





	<div class="sidebar">
		<div class="logo-details">
			<i class='bx bxl-c-plus-plus'></i> <span class="logo_name">PANEL
				ADMINISTRADOR</span>
		</div>
		<ul class="nav-links">

			<li><a th:href="@{/adminproduc}"> <i class='bx bx-box'></i>
					<span class="links_name">Admistrar Producto</span>
				</a>
			<li><a href="#"> <i class='bx bx-grid-alt'></i> <span class="links_name">Dashboard</span>
				</a></li>

			</li>
			<li><a th:href="@{/admincate}" class="active"> <i class='bx bx-list-ul'></i> <span
						class="listadocategorias">Administrar
						categorias</span>
				</a></li>

			<li><a th:href="@{/estadisticas}"> <i class='bx bx-pie-chart-alt-2'></i> <span
						class="links_name">Estadisticas</span>
				</a></li>


			<li class="log_out"><a th:href="@{/}"> <i class='bx bx-log-out'></i> <span class="links_name">Log out</span>
				</a></li>
		</ul>
	</div>
	<section class="home-section">

		<br>
		<div class="home-content">


			<div class="sales-boxes">
				<div class="recent-sales box">
					<div class="title">Lista de categorías</div>
					<div class="sales-details">

						<table>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Eliminar</th>
							</tr>
							<tr th:each="cat:${categorias}">
								<td class="details" th:text="${cat.id_categoria}"></td>
								<td th:text="${cat.nombre}"></td>
								
								<td>
									<div class="botoneliminarc">
											<a th:href="@{/deleteCatego/{id}(id=${cat.id_categoria})}">Eliminar</a>
									</div>

								</td>
							</tr>

						</table>

					</div>
					<div class="button">
						<!-- AQUI VA   <a href="#">See All</a>           -->
					</div>
				</div>

				<form class="top-sales box" th:action="@{/manipuleCatego}" th:object="${categor}" method="post">
					<div>
						<div class="title">Editar o agregar categoría</div>
						<ul class="top-sales-details">
							<li>


								<div class="name">
									<label for="name"></label>
									<input th:field="*{id_categoria}" type="text" placeholder="ID Categoría"
										name="idcategoria" id="idcat_input" required>
								</div> <br> <br>
							</li>
							<li>
							<li>


								<div class="name">
									<label for="name"></label>
									<input th:field="*{nombre}" type="text" placeholder="Nombre categoría" name="nombre"
										id="nombrecat_input" required> <br> <br>
									<textarea th:field="*{descripcion}" rows="5" cols="50" placeholder="Descripcion"
										name="descripcion" id="descripcat_input" required></textarea>

								</div> <br>


							</li>



							<li>

								<div type=submit class="botonagregarc">
									<input type="submit" name="Agregar" value="Agregar" id="form_button" />
									<input type="submit" name="Editar" value="Editar" id="form_button" />
								</div>
							</li>

						</ul>

					</div>
				</form>
			</div>
		</div>
	</section>

	<script>
		let sidebar = document.querySelector(".sidebar");
		let sidebarBtn = document.querySelector(".sidebarBtn");
		sidebarBtn.onclick = function () {
			sidebar.classList.toggle("active");
			if (sidebar.classList.contains("active")) {
				sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
			} else
				sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
		}
	</script>













</body>

</html>