<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" th:href="@{/css/menu.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/registro.css}">


<title>Registro de usuario</title>
</head>
<body>
	<header>
		<div class="header-container">
			<div class="header-line-up">
				<div class="header-line-up-left">
					<p>Siguenos</p>
					<img src="img/icons/ico_twiter.svg"> <img
						src="img/icons/ico_insta.svg"> <img
						src="img/icons/ico_fb.svg">

				</div>
				<div class="header-line-up-right">
					<p>Carrito</p>
					<img src="img/icons/ico-carrito.png">
				</div>
			</div>
			<hr>
			<div class="header-body">
				<div class="header-banner-navbar">
					<div class="header-banner-navbar-left">
						<img src="img/icons/logo.png"> <a th:href="@{/}">
							<p>Inicio</p>
						</a> <a th:href="@{/menu}">
							<p>Menu</p>
						</a>
					</div>
					<div class="header-banner-navbar-right">
						<img src="img/icons/ico_user.svg"> <a
							th:href="@{/login}">
							<p>Iniciar sesion</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="container">
		<h1>&bull; Registro de usuario &bull;</h1>

		<form th:action="@{/register/save}" th:object="${cliente}"
			method="post" id="contact_form">
			<div class="name">
				<label for="name"></label> <input th:field="*{nombre}" type="text"
					placeholder="Nombre" name="nombre" id="nombre_input" required>
			</div>

			<div class="apellidos">
				<label for="apellidos"></label> <input th:field="*{apellido}"
					type="text" placeholder="Apellidos" name="apellido"
					id="apellidos_input" required>
			</div>

			<div class="selectdoc">
				<label for="selectdoc"></label> <select placeholder="Subject line"
					name="tipodoc" id="tipodoc_input" required>
					<option disabled hidden selected>Tipo de Documento</option>
					<option>Cedula de Ciudania</option>
					<option>Tarjeta de Identidad</option>
					<option>Cedula de extranjeria</option>
				</select>
			</div>
			<div class="doc">
				<label for="doc"></label> <input th:field="*{documento}" type="text"
					placeholder="Numero documento" name="documento"
					id="apellidos_input" required>
			</div>

			<div class="email">
				<label for="email"></label> <input th:field="*{correo}" type="email"
					placeholder="Correo" name="correo" id="correo_input" required>
			</div>
			<div class="clave">
				<label for="clave"></label> <input th:field="*{clave}"
					type="text" placeholder="Clave" name="clave" id="clave_input"
					required>
			</div>
			<div class="telephone">
				<label for="telephone"></label> <input th:field="*{celular}"
					type="text" placeholder="Telefono" name="telefono"
					id="telefono_input" required>
			</div>

			<div class="telephone" th:object="${direccion}">
				<label for="name"></label> <input th:field="*{descripcion}"
					type="text" placeholder="Direccion" name="telefono"
					id="telefono_input" required>
			</div>


			<div class="submit">
				<input type="submit" value="registrarse" id="form_button" />
			</div>
		</form>
		<!-- // End form -->
	</div>
	<!-- // End #container -->







	<footer>
		<div class="container-footer">
			<div class="container-footer-child">
				<div class="footer-item">
					<img src="img/icons/logo.png">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
						Deleniti, totam corporis ullam</p>
					<div class="footer-container-list">
						<div class="footer-list">
							<img src="img/icons/mail.png" alt="">
							<p>piquant@outlook.com</p>
						</div>
						<div class="footer-list">
							<img src="img/icons/phone.png" alt="">
							<p>605-1234567</p>
						</div>
						<div class="footer-list">
							<img src="img/icons/location.png" alt="">
							<p>Calle 10 y 11 Sector Quinta Veléz</p>
						</div>
					</div>
				</div>
				<div class="footer-item">
					<h1 class="title">Instagram</h1>
					<a href=""></a>
				</div>
				<div class="footer-item">
					<h1 class="title">Facebook</h1>
					<a href=""></a>
				</div>

			</div>
			<div class="footer-copy">
				<hr>
				<p>© 2021. Déchets productions, All Rights Reserved</p>
			</div>
		</div>
	</footer>


</body>
</html>